@font-face{
    font-family: 'Intro Book';
    src: url(../fonts/Intro-Book.ttf);
}
@font-face{
    font-family: 'Intro Regular';
    src: url(../fonts/Intro-Regular.ttf);
}
@font-face{
    font-family: 'Intro Bold';
    src: url(../fonts/Intro-Bold.ttf);
}
body {
    margin: 0;
}
li {
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    /*text-align: left;*/

}
h1{
    font-family: Intro Regular;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    /*text-align: left;*/
}
h2{
    font-family: Intro Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    /*text-align: left;*/

}
h3{
    font-family: Intro Book;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
p{
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
.buttonRed{
    width: 250px;
    height: 60px;
    /*margin-top: 40px;*/
    background-color: #F14F4F;
    border: 1px solid #F14F4F;
    border-radius: 4px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: white;
}
.buttonRed:hover{
    background-color:#CC4949;
}
.buttonRed:active{
    background-color:#8C2828;
}


.buttonWhite{
    width: 250px;
    height: 50px;
    /*margin-top: 40px;*/
    background-color: #FFFFFF00;
    border: 1px solid #444B58;
    border-radius: 4px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #444B58;
}
/*.buttonWhite:hover{
    background-color:#CC4949;
}*/
.buttonWhite:active{
    background-color: #444B58;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 1px;
    background-color: #484283;
    z-index: 1000;
}
header #divHeadNav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1185px;
    height: 70px;
    margin: 0 auto 0 auto;
  /*  padding-top: 10px;*/
    border-bottom: 1px solid white;
    background-color: #484283;
    color: white;
}
header #divHeadNav h2{
   /* margin-top: 0*/;
}
header #divHeadNav ul{
    margin: 0 0 0 180px;
}
header #divHeadNav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: -20px; 
    list-style-type: none;
  /*  vertical-align: baseline;*/
}
header #divHeadNav li:first-child{
    margin-top: 1px;
    /*color: red;*/
}
#countBasket{
    position: relative;
    width: 18px;
    height: 18px;
    top: 2px;
    left: -12px;
    background-color: red;
    border-radius: 15px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    text-align:center;
}

/*
    яейжхъ оепбнцн анкэьнцн тхнкернбнцн акнйю
*/

#divLogo{

    width: 100%;
    height: 528px;
    background-color:#484283;
}
#divLogo #divLogoCont{
    position: relative;
    width: 1185px;
    height: 300px;
    top: 164px;
    margin: 0 auto 0 auto;
    z-index: 1;
}
#divLogo #divLogoCont #divLogoText{
    position: relative;
    width: 580px;
    color: white;
    z-index: 10;
}
#divLogo #divLogoCont #divLogoText h1{
    line-height: 50px;
}
#divLogo #divLogoCont #divLogoText p{
    width: 480px;
    line-height: 22px;
}
#divLogo #divLogoCont #divLogoText button{
    margin-top: 40px;
}
/*#divLogo #divLogoCont #divLogoText button{
    width: 250px;
    height: 60px;
    margin-top: 40px;
    background-color: #F14F4F;
    border: 1px solid #F14F4F;
   
}*/
#divLogo #divLogoCont #divLogoBigText{
    position: relative;
    left: 150px;
    top: -200px;
    width: 980px;
    font-family: Intro Bold;
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    text-align: left;
    color: #FFFFFF88;
    z-index: 5;
}
/*
   йнмеж яейжхъ оепбнцн анкэьнцн тхнкернбнцн акнйю
*/
/*
   яейжхъ йюрюкнц
*/
#divCatalog{
    width: 100%;
    min-height: 1357px;
}
#divCatalogCont{
    width: 1180px;
    height: 1257px;
    margin: 60px auto 0 auto;
}
#divCatalogCont h2{
   
    margin-bottom: 40px;
}
#divCatalogFlex{
    display: flex;
}
/* ОНДАНП ОЮПaЛЕРПНБ*/

#divCatalogFlex #divSelectionParam{
    width: 280px;
    height: 597px;
    background-color: #FFF4EE;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2{
    padding-top: 20px;
    margin-left: 20px;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2 h3{
    margin: 0;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2 p{
    margin: 10px 0; ;
}
#divPriceCont{
    display: flex;
    align-items: center;
    width: 240px;
    height: 50px;
    border: 1px solid #B2B5BB;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
}
#priceMin, #priceMax{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 35px;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
#priceMin{
    border-right: 1px solid #B2B5BB;
}
#divSelectionParam2 #divCheckbox{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 25px;
}
#divSelectionParam2 #divCheckbox .checkboxGender{
    width: 97px;
}
#divSelectionParam2 table{
    border-collapse: collapse;
}
#divSelectionParam2 table td{
    width: 80px;
    height: 57px;
    border-collapse: collapse;
    border: 1px solid #DBBBA9;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;

    /* padding: 0;*/
}
#buttonApplyParam{
    width: 249px;
    height: 60px;
    background-color: #444B58;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-top: 20px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: white;
}
#divSelectionParam2 #resetParam{
    position: relative;
    width: 72px;
    height: 16px;
    left: 88px;
    top: 20px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;

}
/* БШАНП РНБЮПЮ*/
#divSelectionProd {
   /* display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;*/
    width: 880px;
    min-height: 1257px;

    margin-left: 20px;
}
#divSelectionProd>div{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: 880px;
    height: 1180px;

    /*margin-left: 20px;*/
}
#divSelectionProd>div .product{
    width: 280px;
    height: 359px;
    /*background-color: #cccccc;*/
}
#divSelectionProd>div .product img{
}
#divSelectionProd>div .product p{
    margin: 10px 0;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
#divSelectionProd>div .product h4{
    margin: 0;
    font-family: Intro Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
#divSelectionProd .buttonRed{
    display: block;
    margin: 10px auto 10px auto;
}
/*
    йнмеж яейжхх йюрюкнц
*/
/*
    яейжхъ "оюпс якнб н мюя"
*/

#divPairWordAboutUs{
    width: 100%;
    height: 580px;
    background-color: #484283;
}
#divPairWordCont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    /*margin: 0 auto 0 auto;*/
}
#wordAboutUs{
    width: 450px;
    margin-left: -200px;
    margin-top: 180px;
    color: white;
}
#wordAboutUs p{
    width: 380px;
    height: 110px;
}
#wordAboutUs blockquote{
    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
}
#wordAboutUs blockquote span{
    display: inline-block;
    position: relative;
    top: 4px;
    font-size: 40px;
    line-height: 10px;
}
/*
    йнмеж  яейжхх "оюпс якнб н мюя"
*/
/*
    яейжхъ онданп йпнянбнй
*/

#divSelectionForYou{
    width: 1180px;
    height: 658px;
    margin: 60px auto 0 auto;
    background-color: #FFF4EE;
}
#divSelectionForYouCont{
    width: 980px; /*1180-100*2*/
    height: 618px;/*658-20*2*/
    margin: 0px 100px;
    padding-top: 20px;
 
}

#divTypeSneakersFlex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 70px;
    width: 980px;
    height: 368px;/*154*2+20+40*/
}
.typeSneakers img{
    margin-bottom: 10px;
}
#divNextStepFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 /*   height: 50px;*/
}
/*#divNextStepFlex div:first-child{
   height: 50px;
}
#divNextStepFlex #btnNextStep{

}*/
/*
    йнмеж яейжхх онданп йпнянбнй
*/
/*
   яейжхъ мюью йнлюмдю
*/

#divOurTeam{
    width: 100%;
    height:1190px;
    background-color: #484283;
    margin-top: 60px;
}
#divOurTeam>img{
   float: right;
}
#divOurTeamCont{
    width: 1180px;
    height: 1050px;
    margin: 0 auto 0 auto;
    padding-top: 40px;
    color: white;
}
#divOurTeamCont>h2{
    margin-bottom: 40px;
}
#divOurTeamFlex{
     display: flex;
     position: relative;
     flex-wrap: wrap;
     align-items: flex-start;
     gap: 40px 20px;
     width: 1180px;
     top: -420px;
 }
.memberTeam{
   
    width: 380px;
    height: 480px;
}
.memberTeam>img{
    width: 380px;
    height: 400px;
}
.memberTeam>h4{
    /*padding-top: 0px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Intro Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.memberTeam>p{
    margin-top: 20px;
}
/*
    йнмеж яейжхх мюью йнлюмдю
*/
/*
    яейжхъ вюярн гюдюбюелше бнопняш
*/

#FAQ{
    width: 1030px;
    height: 287px;
    margin: 60px auto 0 auto;
}
#questions{
    width: 880px;
    float: right;
}
#firstQuestion{
}
/*#firstQuestionFlex*/ .QFlex{
    display: flex;
    justify-content: space-between;
}
/*#firstQuestionFlex*/.QFlex>div{
    margin-top: 18px;
   
}
/*#firstQuestionFlex*/.QFlex>h4{

    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #242424;
}
#firstQuestion p{
    width: 800px;
}
#otherQuestion{
/*    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;*/
}
/*
    йнмеж яейжхх вюярн гюдюбюелше бнопняш
*/