@font-face{
    font-family: 'Intro Book';
    src: url(../fonts/Intro-Book.ttf);
}
@font-face{
    font-family: 'Intro Regular';
    src: url(../fonts/Intro-Regular.ttf);
}
@font-face{
    font-family: 'Intro Bold';
    src: url(../fonts/Intro-Bold.ttf);
}
body {
    margin: 0;
}
a{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: white;
}
li {
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    /*text-align: left;*/

}
h1{
    font-family: Intro Regular;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    /*text-align: left;*/
}
h2{
    font-family: Intro Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    /*text-align: left;*/

}
h3{
    font-family: Intro Book;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
p{
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
.buttonRed{
    width: 250px;
    height: 60px;
    /*margin-top: 40px;*/
    background-color: #F14F4F;
    border: 1px solid #F14F4F;
    border-radius: 4px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: white;
}
.buttonRed:hover{
    background-color:#CC4949;
}
.buttonRed:active{
    background-color:#8C2828;
}


.buttonWhite{
    width: 250px;
    height: 50px;
    /*margin-top: 40px;*/
    background-color: #FFFFFF00;
    border: 1px solid #444B58;
    border-radius: 4px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #444B58;
}
/*.buttonWhite:hover{
    background-color:#CC4949;
}*/
.buttonWhite:active{
    background-color: #444B58;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 1px;
    background-color: #484283;
    z-index: 1000;
}
header #divHeadNav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1185px;
    height: 70px;
    margin: 0 auto 0 auto;
  /*  padding-top: 10px;*/
    border-bottom: 1px solid white;
    background-color: #484283;
    color: white;
}
header #divHeadNav h2{
   /* margin-top: 0*/;
}
header #divHeadNav ul{
    margin: 0 0 0 180px;
}
header #divHeadNav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: -20px; 
    list-style-type: none;
  /*  vertical-align: baseline;*/
}
header #divHeadNav li:first-child{
    margin-top: 1px;
    /*color: red;*/
}
#countBasket{
    position: relative;
    width: 18px;
    height: 18px;
    top: 2px;
    left: -12px;
    background-color: red;
    border-radius: 15px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    text-align:center;
}

/*
    —≈ ÷»ﬂ œ≈–¬Œ√Œ ¡ŒÀ‹ÿŒ√Œ ‘»ŒÀ≈“Œ¬Œ√Œ ¡ÀŒ ¿
*/

#divLogo{

    width: 100%;
    height: 528px;
    background-color:#484283;
}
#divLogo #divLogoCont{
    position: relative;
    width: 1185px;
    height: 300px;
    top: 164px;
    margin: 0 auto 0 auto;
    z-index: 1;
}
#divLogo #divLogoCont #divLogoText{
    position: relative;
    width: 580px;
    color: white;
    z-index: 10;
}
#divLogo #divLogoCont #divLogoText h1{
    line-height: 50px;
}
#divLogo #divLogoCont #divLogoText p{
    width: 480px;
    line-height: 22px;
}
#divLogo #divLogoCont #divLogoText button{
    margin-top: 40px;
}
/*#divLogo #divLogoCont #divLogoText button{
    width: 250px;
    height: 60px;
    margin-top: 40px;
    background-color: #F14F4F;
    border: 1px solid #F14F4F;
   
}*/
#divLogo #divLogoCont #divLogoBigText{
    position: relative;
    left: 150px;
    top: -200px;
    width: 980px;
    font-family: Intro Bold;
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    text-align: left;
    color: #FFFFFF88;
    z-index: 5;
}
/*
    ŒÕ≈÷ —≈ ÷»ﬂ œ≈–¬Œ√Œ ¡ŒÀ‹ÿŒ√Œ ‘»ŒÀ≈“Œ¬Œ√Œ ¡ÀŒ ¿
*/
/*
   —≈ ÷»ﬂ  ¿“¿ÀŒ√
*/
#divCatalog{
    width: 100%;
    min-height: 1357px;
}
#divCatalogCont{
    width: 1180px;
    height: 1257px;
    margin: 60px auto 0 auto;
}
#divCatalogCont h2{
   
    margin-bottom: 40px;
}
#divCatalogFlex{
    display: flex;
}
/* ÔÓ‰·Ó Ô‡aÏÂÚÓ‚*/

#divCatalogFlex #divSelectionParam{
    width: 280px;
    height: 597px;
    background-color: #FFF4EE;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2{
    padding-top: 20px;
    margin-left: 20px;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2 h3{
    margin: 0;
}
#divCatalogFlex #divSelectionParam #divSelectionParam2 p{
    margin: 10px 0; ;
}
#divPriceCont{
    display: flex;
    align-items: center;
    width: 240px;
    height: 50px;
    border: 1px solid #B2B5BB;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
}
#priceMin, #priceMax{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 35px;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
#priceMin{
    border-right: 1px solid #B2B5BB;
}
#divSelectionParam2 #divCheckbox{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 25px;
}
#divSelectionParam2 #divCheckbox .checkboxGender{
    width: 97px;
}
#divSelectionParam2 table{
    border-collapse: collapse;
}
#divSelectionParam2 table td{
    width: 80px;
    height: 57px;
    border-collapse: collapse;
    border: 1px solid #DBBBA9;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;

    /* padding: 0;*/
}
#buttonApplyParam{
    width: 249px;
    height: 60px;
    background-color: #444B58;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-top: 20px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: white;
}
#divSelectionParam2 #resetParam{
    position: relative;
    width: 72px;
    height: 16px;
    left: 88px;
    top: 20px;
    font-family: Intro Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;

}
/* ‚˚·Ó ÚÓ‚‡‡*/
#divSelectionProd {
   /* display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;*/
    width: 880px;
    min-height: 1257px;

    margin-left: 20px;
}
#divSelectionProd>div{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: 880px;
    height: 1180px;

    /*margin-left: 20px;*/
}
#divSelectionProd>div .product{
    width: 280px;
    height: 359px;
    /*background-color: #cccccc;*/
}
#divSelectionProd>div .product img{
}
#divSelectionProd>div .product p{
    margin: 10px 0;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
#divSelectionProd>div .product h4{
    margin: 0;
    font-family: Intro Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
#divSelectionProd .buttonRed{
    display: block;
    margin: 10px auto 10px auto;
}
/*
     ŒÕ≈÷ —≈ ÷»»  ¿“¿ÀŒ√
*/
/*
    —≈ ÷»ﬂ "œ¿–” —ÀŒ¬ Œ Õ¿—"
*/

#divPairWordAboutUs{
    width: 100%;
    height: 580px;
    background-color: #484283;
}
#divPairWordCont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 580px;
    /*margin: 0 auto 0 auto;*/
}
#wordAboutUs{
    width: 450px;
    margin-left: -200px;
    margin-top: 180px;
    color: white;
}
#wordAboutUs p{
    width: 380px;
    height: 110px;
}
#wordAboutUs blockquote{
    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: right;
}
#wordAboutUs blockquote span{
    display: inline-block;
    position: relative;
    top: 4px;
    font-size: 40px;
    line-height: 10px;
}
/*
     ŒÕ≈÷  —≈ ÷»» "œ¿–” —ÀŒ¬ Œ Õ¿—"
*/
/*
    —≈ ÷»ﬂ œŒƒ¡Œ–  –Œ—Œ¬Œ 
*/

#divSelectionForYou{
    width: 1180px;
    height: 658px;
    margin: 60px auto 0 auto;
    background-color: #FFF4EE;
}
#divSelectionForYouCont{
    width: 980px; /*1180-100*2*/
    height: 618px;/*658-20*2*/
    margin: 0px 100px;
    padding-top: 15px;
 
}
#divSelectionForYouCont h2{
    color:#444B58;
    margin-bottom: 0px;
}
#divSelectionForYouCont p{
    color: #808080;
}
#divSelectionForYouCont h3{
    color: #444B58;
}
#divTypeSneakersFlex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 70px;
    width: 980px;
    height: 348px;/*154*2+20+40*/
}
#divSelectionForYouCont .hr2{
    margin: 10px 0 20px 0;
}
.typeSneakers img{
    margin-bottom: 10px;
}
#divNextStepFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 /*   height: 50px;*/
}
/*#divNextStepFlex div:first-child{
   height: 50px;
}
#divNextStepFlex #btnNextStep{

}*/
/*
     ŒÕ≈÷ —≈ ÷»» œŒƒ¡Œ–  –Œ—Œ¬Œ 
*/
/*
   —≈ ÷»ﬂ Õ¿ÿ¿  ŒÃ¿Õƒ¿
*/

#divOurTeam{
    width: 100%;
    height:1190px;
    background-color: #484283;
    margin-top: 60px;
}
#circlesRed{
    width: 100%; /*1300px;*/
    height: 560px;
    margin: 0 auto 0 auto;
}
#divOurTeam>#circlesRed>img{
   float: right;
}
#divOurTeamCont{
    width: 1180px;
    height: 1050px;
    margin: 0 auto 0 auto;
    padding-top: 40px;
    color: white;
}
#divOurTeamCont>h2{
    position: relative;
    top: -560px;
    margin-bottom: 40px;

}
#divOurTeamFlex{
     display: flex;
     position: relative;
     flex-wrap: wrap;
     align-items: flex-start;
     gap: 40px 20px;
     width: 1180px;
     top: -560px;
 }
.memberTeam{
   
    width: 380px;
    height: 480px;
}
.memberTeam>img{
    width: 380px;
    height: 400px;
}
.memberTeam>h4{
    /*padding-top: 0px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Intro Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.memberTeam>p{
    margin-top: 20px;
}
/*
     ŒÕ≈÷ —≈ ÷»» Õ¿ÿ¿  ŒÃ¿Õƒ¿
*/
/*
    —≈ ÷»ﬂ ◊¿—“Œ «¿ƒ¿¬¿≈Ã€≈ ¬Œœ–Œ—€
*/

#FAQ{
    width: 1030px;
    height: 287px;
    margin: 60px auto 0 auto;
}
#questions{
    width: 880px;
    float: right;
}
#firstQuestion{
}
/*#firstQuestionFlex*/ .QFlex{
    display: flex;
    justify-content: space-between;
}
/*#firstQuestionFlex*/.QFlex>div{
    margin-top: 18px;
   
}
/*#firstQuestionFlex*/.QFlex>h4{

    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #242424;
}
#firstQuestion p{
    width: 800px;
}
#otherQuestion{
/*    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;*/
}
/*
     ŒÕ≈÷ —≈ ÷»» ◊¿—“Œ «¿ƒ¿¬¿≈Ã€≈ ¬Œœ–Œ—€
*/
/*
    —≈ ÷»ﬂ  ŒÕ“¿ “€
*/

#contact{
    width: 100%;
    height:618px;
    background-color: #F3F6F6 ;
}
#contactCont{
    width: 1150px;
    height: 498px;/*618-60*2*/
    margin: 60px auto 0 auto;

}
#contactFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;

}
#contactText{
    width: 380px;
}
#contactText h2{
    color: #444B58;
}

#contactText p.office{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #B2B5BB;
}
#contactText p.address{
    font-family: Intro Book;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;

}
#contactText h4.telephone{
    margin-bottom: 10px;
    font-family: Intro Regular;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}
#contactText #socialNetwork img:first-child{
    margin-right: 20px;
}
/*
     ŒÕ≈÷ —≈ ÷»»  ŒÕ“¿ “€
*/
/*  
    —≈ ÷»ﬂ œŒ—À≈ƒÕ»… ¡ÀŒ 
*/

#divLastBlok{
    width: 100%;
    height: 420px;
}
#divLastBlokCont{
    width: 1120px;
    height: 413px;
    margin: 71px auto 0 auto;
}
#divLastBlokFlex{
    display: flex;
    justify-content: center;
    gap: 60px;
}
#divEndForm{
    width: 380px;
    height: 402px;
    background-color:#484283;
}
#divEndForm h2{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
#divEndForm p{
    margin-bottom: 40px;
    text-align: center;
    color: white;
}
#divEndForm form/*>div*/{
    width: 350px;
    margin: 0 auto 0 auto;
}
#divEndForm input[type=text]{
    width: 332px;
    height: 60px;
    margin-bottom: 10px;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: black;/*#B2B5BB;*/

}
#divEndForm button{
    width: 340px;
}
#divInstagram{
    width: 680px;
    height: 337px;
}
#divLogoInstagram{
    width: 157px;
    margin: 0 auto 0 auto;
}
#divInstagramFlex{
    display: flex;
    gap: 15px;
}
#divInstagramFlex .twoImage{
    width: 160px;
}
#divInstagramFlex .twoImage img{
    margin-bottom: 10px;
}
/*
     ŒÕ≈÷ —≈ ÷»» œŒ—À≈ƒÕ»… ¡ÀŒ 
*/
/*          FOOTER*/
footer{
    position: relative;
    width: 100%;
    height: 70px;
    top: 1px;
    background-color: #444B58;
    margin-top: 82px;
    z-index: 1000;
}
footer #divHeadFooter{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1185px;
    height: 70px;
    margin: 0 auto 0 auto;
  /*  padding-top: 10px;*/
    border-bottom: 1px solid white;
    background-color: #444B58;
    color: white;
}
footer #divHeadFooter h2{
   /* margin-top: 0*/;
}
footer #divHeadFooter ul{
    margin: 0 0 0 180px;
}
footer #divHeadFooter li{
    display: inline-block;
    margin-left: 40px;
    margin-top: -20px; 
    list-style-type: none;
  /*  vertical-align: baseline;*/
}
footer #divHeadFooter li:first-child{
    margin-top: 1px;
    /*color: red;*/
}
/*           END FOOTER           */

/*   ÃŒƒ¿À‹Õ€≈ Œ Õ¿*/
/*ππππππππππππππππππππππππππππππππππππππππππ*/
/*          Œ ÕŒ œ–Œƒ” “*/
#divModalProduct{
  /*  position: fixed;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-50%); */
    display: none;
    position: absolute;
    left: 50%;
    top: 140px;

    width: 1140px;
    height:1313px;
    transform: translate(-50%,-0%);
    /*margin: 0 auto 0 auto;*/
    background-color: white;
    z-index: 2000;
}
#divModalProductCont{
    margin: 40px;
}
#divModalProductFlex{
    display: flex;
    gap: 20px;
}

#divModalProductFlex #divProductLeft{

}

#divModalProductFlex #divProductLeft #divLineUp{
    display: flex;
    gap: 20px;
}
#divModalProductFlex #divProductLeft #divLineUp img{
    width: 70px;
    height: 75px;
}
#divModalProductFlex #divProductLeft h3{
}
#divModalProductFlex #divProductLeft #divProductDescription{
    width: 430px;
    height: 68px;
}
#divModalProductFlex #divProductRight{

}
#divModalProductFlex #divProductRight #divArticleAndCount{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 20px;
}
#divModalProductFlex #divProductRight #divArticle{
    display: flex;
    gap: 10px;
    width: 113px;
    height: 18px;
}
#divModalProductFlex #divProductRight #divArticleAndCount #selectSize{
    margin-top: 0px;
    color: #B2B5BB;
}
#divModalProductFlex #divProductRight #divCount span{
   /* font-weight: bold;*/
    color: #444B58;
}
#divModalProductFlex #divProductRight h4{
    width: 430px;
    height: 68px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Intro Book;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
}
#divModalProductFlex #divProductRight #divRating span{
    font-size: 20px;
    color: #F14F4F;
}
#divModalProductFlex #divProductRight #divSelectSize{
    display: flex;
    gap: 20px;
}
#divModalProductFlex #divProductRight #divSelectSize .divSize{
    width: 70px;
    height: 32px;
    border: 1px solid #B2B5BB;
    border-radius: 4px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    /*line-height: 14px;*/
    /*text-align: left;*/

    line-height: 30px;
    text-align: center;
    color: #444B58;

}

#divModalProductFlex #divProductRight #divPriceFlex{
    display: flex;
    gap: 32px;       
}
#divModalProductFlex #divProductRight #divPriceFlex h2{
    margin-top: 40px;
}
#divModalProductFlex #divProductRight #divPriceFlex p{
    
     margin-top: 48px;
    color:#B2B5BB;

}
#divModalProductFlex #divProductRight button{
    width: 442px;
    margin-top: 48px;
}
#divModalProductFlex #divProductRight ul { 
    padding-left: 1px;
}
#divModalProductFlex #divProductRight li {
    list-style-type: none; /* ”·Ë‡ÂÏ Ï‡ÍÂ˚ Û ÒÔËÒÍ‡ */
    margin-top: 10px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;

}
#divModalProductFlex #divProductRight li:before {
 /*   width: 20px;
    height: 20px;*/
    content: url('../img/checkmark.svg'); /* ƒÓ·‡‚ÎˇÂÏ ‚ Í‡˜ÂÒÚ‚Â Ï‡ÍÂ‡ ÒËÏ‚ÓÎ */
    margin-right: 10px;
}
#divModalProductFlex #divProductRight p{
    margin: 10px 0;
}
#divGrayBar{
    width: 1060px;
    height: 456px;
    margin-top: 40px;
    background-color: #C4C4C4;
}
    
/*          Œ ÕŒ  Œ–«»Õ¿  */
#divBasket{
    width: 480px;
    height: 375px;
    background-color: white;
   
}   
#divBasket #divProductInBasket{
     width: 480px;
     height: 325px;
     overflow-y: auto;
}
#divBasket .divProductInBasketFlex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    height: 120px;
  /*  margin-top: 15px;*/
}
#divBasket .divProductInBasketFlex:first-child{
    background-color: #CCD9F233;
}
#divBasket .divProductInBasketFlex img:first-child{
    width: 100px;
    height: 100px;
}
#divBasket .divProductInBasketFlex .priceInBasket{
    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
#divBasket .divProductInBasketFlex .descriptionInBasket{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
#divBasket .infoProductInBasket{
    margin-left: -25px;
}
#divTotalbBasket{
    position: relative;
    width: 480px;
    height: 91px;
    top: -23px;
    background-color: #FFFFFF/*88*/;
    z-index:3000;
   
}
#divTotalBasketFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 91px;
}
#divTotalPriceBasket{
    width: 72px;
    height: 50px;
    margin-left: 24px;
}
#divTotalPriceBasket p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}
#divTotalPriceBasket h4{
    margin-top: 10px;
    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
#divTotalBasketFlex button{
    width:  239px;
    height: 60px;
    margin-right: 20px;
}

/* –‡·ÓÚ‡ÂÚ ‚ Firefox */
/*#divProductInBasket {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}*

/* –‡·ÓÚ‡ÂÚ ‚ Chrome, Edge Ë Safari */
#divProductInBasket::-webkit-scrollbar {
    position: relative;
    left: -100px;
    width: 4px;  /* ¯ËËÌ‡ ‚ÒÂÈ ÔÓÎÓÒ˚ ÔÓÍÛÚÍË */
    padding-right: 50px;

}

#divProductInBasket::-webkit-scrollbar-track {
  background: #cccccc;/* ˆ‚ÂÚ ÁÓÌ˚ ÓÚÒÎÂÊË‚‡ÌËˇ */
}

#divProductInBasket::-webkit-scrollbar-thumb {
  background-color: #aaaaaa; /* ˆ‚ÂÚ ·Â„ÛÌÍ‡ */
  border-radius: 20px;
  border: 3px solid #AAAAAA;
}

/* ÃŒƒ¿À‹ÕŒ≈ Œ ÕŒ Œ‘Œ–ÃÀ≈Õ»≈ «¿ ¿«¿ */

#divPlacingOrder{
    width: 580px;
    height: 902px;  
   /* background-color: #dddddd;*/
}
#divPlacingOrderCont{
    margin: 40px;
}
#divPlacingOrderHeadFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#divPlacingOrderHeadFlex h4{
    font-family: Intro Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #444B58; 

}
#divPlacingOrderHeadFlex p{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: #B2B5BB;
}

#divCompositionOrder{
    width: 500px;
    height: 433px;
    border: 1px solid #D9D9D9;
}
#divCompositionOrderCont{
    margin: 30px;
}
#divCompositionOrderCont>p{
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
#divCompositionOrderCont>p>span{
    font-family: Intro Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}
#divCompositionOrderCont>#down_arrow{
    font-family: Intro Book;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
.divProductFlex{
    display: flex;
    align-items: center;
    width: 440px;
    height: 80px;
    margin-top: 14px;
    font-size: 20px;
}
.divProductFlex img{
    width: 80px;
    height: 46px;
}
.divProductFlex .infoProductOrder{
    margin: 0 7px;
}
.divProductFlex .infoProductOrder p:first-child{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #444B58;

}
.divProductFlex .infoProductOrder p:last-child{
    font-family: Intro Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #444B58;
}
.divProductFlex>p{
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: #B2B5BB;

}
#divPlacingOrder form{
}
#divPlacingOrder form input[type=text]:first-child{
    margin-top: 40px;
}
#divPlacingOrder form input[type=text]{
    width: 496px;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
    background-color: #F6F6F6;
}
#divPlacingOrder form input[type=text]::placeholder{
    padding-left: 20px;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: #B2B5BB;
}
#divPlacingOrder form button{
    margin-top: 30px;
}


/*
    Ù–≈…Ã€ œŒƒ¡Œ– Œ¡”¬».
*/
/*Ó·˘ËÂ ÍÎ‡ÒÒ˚ ‰Îˇ ÙÂÈÏÓ‚*/
.selectFrame{
    width: 1180px;
    height: 658px;
    margin: 60px auto 0 auto;
    background-color: #FFF4EE;
}
.divSelectionFrameCont{
    width: 980px; /*1180-100*2*/
    height: 618px;/*658-20*2*/
    margin: 0px 100px;
    padding-top: 20px;
 
}
.divSelectionFrameCont h2{
    color:#444B58;
}
.divSelectionFrameCont p{
    color: #808080;
}
.divSelectionFrameCont h3{
    color: #444B58;
}
.nextStepInSelectFrameFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 /*   height: 50px;*/
}
/* ‘–¿Ã≈ 1*/
#divSelectionFrame1 #divSizeSelectFlex{
    display: flex;
    gap: 100px;
}
#divSelectionFrame1>.divSelectionFrameCont img{
    margin-top: 52px;   
}
#divSelectionFrame1 .hr2{
    margin: 20px 0 20px 0;
}

/* ‘–¿Ã≈ 2*/
#divSelectionFrame2 textarea{
    resize: none;
    width: 465px;
    height: 246px;
    /*margin-top: 10px;*/
    margin-bottom: 72px;
    border: 1px solid white;
}
#divSelectionFrame2 textarea:active{
    border: 1px solid white;
    outline: none;
}
#divSelectionFrame2 textarea:focus{
    border: 1px solid white;
    outline: none;
}
#divSelectionFrame2 textarea::placeholder{
    padding: 20px 0 0 20px;
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    color: #DBBBA9;
}
#divSelectionFrame2 .hr2{
    margin: 20px 0 20px 0;
}