@font-face{
    font-family: 'Intro Book';
    src: url(../fonts/Intro-Book.ttf);
}
@font-face{
    font-family: 'Intro Regular';
    src: url(../fonts/Intro-Regular.ttf);
}
@font-face{
    font-family: 'Intro Bold';
    src: url(../fonts/Intro-Bold.ttf);
}
body {
    margin: 0;
}
li {
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    /*text-align: left;*/

}
h1{
    font-family: Intro Regular;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    /*text-align: left;*/
}
h2{
    font-family: Intro Bold;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    /*text-align: left;*/

}
h3{
    font-family: Intro Book;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
p{
    font-family: Intro Book;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 1px;
    background-color: #484283;
}
header #divHeadNav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 1185px;
    height: 70px;
    margin: 0 auto 0 auto;
  /*  padding-top: 10px;*/
    border-bottom: 1px solid white;
    background-color: #484283;
    color: white;
}
header #divHeadNav h2{
   /* margin-top: 0*/;
}
header #divHeadNav ul{
    margin: 0 0 0 180px;
}
header #divHeadNav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: -20px; 
    list-style-type: none;
  /*  vertical-align: baseline;*/
}
header #divHeadNav li:first-child{
    margin-top: 1px;
    /*color: red;*/
}
#countBasket{
    position: relative;
    width: 18px;
    height: 18px;
    top: 2px;
    left: -12px;
    background-color: red;
    border-radius: 15px;
    font-family: Intro Book;
    font-size: 14px;
    font-weight: 400;
    text-align:center;
}

/*
    —≈ ÷»ﬂ œ≈–¬Œ√Œ ¡ŒÀ‹ÿŒ√Œ ‘»ŒÀ≈“Œ¬Œ√Œ ¡ÀŒ ¿
*/

#divLogo{

    width: 100%;
    height: 528px;
    background-color:#484283;
}
#divLogo #divLogoCont{
    position: relative;
    width: 1185px;
    height: 300px;
    top: 164px;
    margin: 0 auto 0 auto;
    z-index: 1;
}
#divLogo #divLogoCont #divLogoText{
    position: relative;
    width: 580px;
    color: white;
    z-index: 10;
}
#divLogo #divLogoCont #divLogoText h1{
    line-height: 50px;
}
#divLogo #divLogoCont #divLogoText p{
    width: 480px;
    line-height: 22px;
}
#divLogo #divLogoCont #divLogoText button{
    width: 250px;
    height: 60px;
    margin-top: 40px;
    background-color: #F14F4F;
    border: 1px solid #F14F4F;
   
}
#divLogo #divLogoCont #divLogoBigText{
    position: relative;
    left: 150px;
    top: -200px;
    width: 980px;
    font-family: Intro Bold;
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    text-align: left;
    color: #FFFFFF88;
    z-index: 5;
}
/*
    ŒÕ≈÷ —≈ ÷»ﬂ œ≈–¬Œ√Œ ¡ŒÀ‹ÿŒ√Œ ‘»ŒÀ≈“Œ¬Œ√Œ ¡ÀŒ ¿
*/
